# Configuración de Entorno
NODE_ENV=development # puede ser development, staging o production
PORT=3000

# Configuración de Base de Datos (Se inyectará vía Secretos en Stage/Prod)
DB_HOST=localhost
DB_USER=admin
DB_PASSWORD= # DEJAR VACÍO: Se usa GitHub Secrets
DB_NAME=proyecto_db

# Feature Flags (Semana 2 - Punto 5)
ENABLE_NEW_FEATURE=false